<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Melhore o ranking do seu site! | Site Auditor</title>
    <meta name="revisit-after" content="20 days">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="como melhorar o ranking do meu site, melhor site para comprar templates e apps em 2021, quero template wordpress, template wordpress em sao paulo, desenvolvedor de sites em sao paulo, comprar um app">
    <meta name="twitter:title" content="Comprar Templates e Apps em 2021 - QCommerxBR">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="https://www.qcommerx.com.br/assets/img/512.png">
    <meta name="twitter:image" content="https://www.qcommerx.com.br/assets/img/512.png">
    <meta name="twitter:description" content="O melhor site de 2021 para comprar templates e apps para seu projeto. Desenvolvemos diversos modelos.">
    <meta name="description" content="O melhor auditor para meta tags em 2021. Identifique melhorias para o seu site com as descobertas do Site Auditor">
    <meta property="og:type" content="website">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="../assets/img/180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="../assets/img/180.png">
    <link rel="icon" type="image/png" sizes="196x196" href="../assets/img/196.png">
    <link rel="icon" type="image/png" sizes="512x512" href="../assets/img/512.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../assets/css/styles.min.css">
    <link rel="stylesheet" href="../assets/css/siteAuditor.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
<!-- Hotjar Tracking Code for www.qcommerx.com.br -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2295494,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/a8e37df0c5e1262b5fa443807/4c69aaa6c0e4000dca235d2ad.js");</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-130575341-1"></script><link rel="canonical" href="https://www.qcommerx.com.br/site-auditor"/>
</head>

<body>
    <!-- Start: header-qc -->
    <div class="main-nav mb-2 container-fluid"><a href="https://www.qcommerx.com.br" rel="dofollow"><img class="logo ms-3" src="../assets/img/logo_normal.svg" alt="logo da empresa circular e amarelo" title="QCommerx - Melhor site para compras de templates e apps"></a>
        <ul class="list-inline text-uppercase list-company d-inline float-end mt-3 px-5">
            <li class="list-inline-item grow ps-3 link-hover"><i class="icon ion-ios-cart p-2"></i><a href="https://www.qcommerx.com.br/websites">LOJA</a></li>
            <li class="list-inline-item grow ps-3 link-hover"><i class="icon ion-key p-2"></i><a href="https://www.qcommerx.com.br/privacidade">Privacidade</a></li>
            <li class="list-inline-item grow ps-3 link-hover"><i class="icon ion-briefcase p-2"></i><a href="https://www.qcommerx.com.br/a-empresa">empresa</a></li>
        </ul>
    </div><!-- End: header-qc -->
    <div class="container" id="auditor">
        <div class="row mt-5">
            <div class="col-12 col-sm-12">
                <div class="d-flex">
                    <h1 id="servicos" style="font-size:calc(0.5)">Site Auditor<sup class="mx-1 fs-6 beta">beta</sup></h1><span class="spinner-border text-warning m-3" role="status" v-bind:class="{'d-flex':auditing, 'd-none':!auditing}"></span>
                </div>
                <p class="lead">Aqui você pode auditar qualquer metatags de um site e identificar possíveis melhorias.</p><!-- Start: search -->
                <div id="search" class="searchbar d-flex"><a v-bind:class="{'d-block': closeX, 'd-none': !closeX}"><i class="icon ion-close close d-flex" v-bind:class="{'d-block': closeX, 'd-none': !closeX}" v-on:click="clearSearch"></i></a><input type="text" class="form-control form-control-lg" autocomplete="off" autocorrect="off" spellcheck="false" autocapitalize="off" v-model="search" v-bind:placeholder="placeholder" v-on:focus="onFocus" v-on:blur="onBlur"><a class="btn px-2 d-flex" role="button" style="font-size: calc(1.2rem);" v-on:click="checkBeforeGo();"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-search fs-4 mx-2 mt-1">
                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"></path>
                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"></path>
                        </svg><br></a></div><!-- End: search -->
            </div>
        </div><!-- Start: cards 4x1 -->
        <div class="row py-3 position-relative analysis" id="analysis">
            <div class="col-12 col-sm-6 col-lg-4 col-xl-4" v-for="(auditor, index) in audits">
                <div class="qc-card qc-shadow p-2 m-2">
                    <div class="mb-2">
                        <h3 class="display-6 d-inline" v-if="auditor.action ||  undefined === auditor.action"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-x-circle-fill text-danger m-2">
                                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
                            </svg>0%</h3>
                        <h3 class="display-6 d-inline" v-if="!auditor.action &amp;&amp; undefined !== auditor.action"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-check-circle-fill text-success m-2">
                                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                            </svg>100%</h3>
                    </div><small class="m-0">{{auditor.type}}<br></small>
                    <h3 class="m-0 fs-3">{{auditor.name}}</h3>
                    <p class="mt-3 pb-2 text-justify">{{auditor.status}}<br></p>
                    <div class="d-flex justify-content-end w-100"><a v-bind:data-bs-target="'#card-order-' + index" data-bs-toggle="collapse" role="button" aria-expanded="false" v-bind:aria-controls="'card-order-' + index"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-three-dots-vertical fs-1">
                                <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"></path>
                            </svg><br></a></div>
                    <div class="m-0 p-2 code collapse" v-bind:id="'card-order-' + index">
                        <div class="action" v-if="auditor.action">
                            <h2 class="fs-6">Ajustes necessários</h2>
                            <p class="text-danger">{{auditor.action}}</p>
                        </div>
                        <div class="info" v-if="auditor.info">
                            <h2 class="fs-6">Configuração atual</h2>
                            <p>{{auditor.info}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End: cards 4x1 -->
    </div><!-- Start: footer -->
    <div class="container-fluid footer">
        <div class="row footer vw-100">
            <div class="col-md-6 col-lg-6 pt-5">
                <h2 class="text-center text-sm-center text-md-start text-lg-start text-xl-start text-xxl-start m-0 fs-3">QCommerx do Brasil</h2>
                <p class="text-start text-sm-center text-md-start text-lg-start text-xl-start text-xxl-start">Uma empresa que acredita no empreendedor brasileiro. Descubra nossas soluções técnicas.<br></p>
                <div class="text-center text-sm-center text-md-start text-lg-start text-xl-start text-xxl-start my-3"><a href="https://www.facebook.com/QCommerxBR/" rel="external nofollow" target="new"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="mx-1 fs-3 grow">
                            <path d="M9.19795 21.5H13.198V13.4901H16.8021L17.198 9.50977H13.198V7.5C13.198 6.94772 13.6457 6.5 14.198 6.5H17.198V2.5H14.198C11.4365 2.5 9.19795 4.73858 9.19795 7.5V9.50977H7.19795L6.80206 13.4901H9.19795V21.5Z" fill="currentColor"></path>
                        </svg></a><span>&#183;</span>
<a href="https://www.instagram.com/qc.br/?theme=dark" rel="external nofollow" target="new"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="mx-1 fs-3 grow">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7ZM9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12Z" fill="currentColor"></path>
                            <path d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z" fill="currentColor"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 1C2.79086 1 1 2.79086 1 5V19C1 21.2091 2.79086 23 5 23H19C21.2091 23 23 21.2091 23 19V5C23 2.79086 21.2091 1 19 1H5ZM19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z" fill="currentColor"></path>
                        </svg></a><span>&#183;</span>
<a href="https://g.page/qcommerx?gm" rel="external nofollow" target="new"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="mx-1 fs-3 grow">
                            <path d="M6 12C6 15.3137 8.68629 18 12 18C14.6124 18 16.8349 16.3304 17.6586 14H12V10H21.8047V14H21.8C20.8734 18.5645 16.8379 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C15.445 2 18.4831 3.742 20.2815 6.39318L17.0039 8.68815C15.9296 7.06812 14.0895 6 12 6C8.68629 6 6 8.68629 6 12Z" fill="currentColor"></path>
                        </svg></a></div>
            </div>
            <div class="col-md-6 col-lg-6 pt-5">
                <h2 class="text-center text-sm-center text-md-start text-lg-start text-xl-start text-xxl-start m-0 fs-3">Links Importantes</h2>
                <ul class="list-unstyled text-center text-sm-center text-md-start text-lg-start text-xl-start text-xxl-start">
                    <li><a href="https://www.youtube.com/channel/UCEKibBC4GJ8AeTlJuiSibpg?app=desktop" rel="external nofollow">Youtube</a></li>
                    <li><a href="https://www.qcommerx.com.br/a-empresa" rel="dofollow">Empresa</a></li>
                    <li><a class="disabled" href="#">E-book</a></li>
                    <li><a href="https://www.qcommerx.com.br/privacidade" rel="dofollow">Privacidade</a></li>
                </ul>
            </div>
        </div>
    </div><!-- End: footer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="../assets/js/script.min.js"></script>
</body>

</html>