.contacts {
  	background-color: #514093;
	border-radius: 10px;

	h2, p {
		  color: #fdfdff !important;
	}
	h2 {
		font-size:2rem !important;
	}
	p {
		font-size:.8rem !important;
	}

}
.offer, .navbar, body {
	background: #f3f3f5;

	.description {
		border-radius: 10px;
		background: #fcfcfc;
		p, h2, small {
			color: #495165 !important;
		}
	}
	.template-img {
		border-radius: 10px;
	}
}
.footer {
	background-color: #324252;
	h2, ul, li, p, a, i {
		color: #fefefe !important;
	}
}
