.border-0 {
  border: 0 !important;
  &:focus {
    border: 0 !important;
  }
}

.modal-dialog {
  background: #fefefe;
  border: gray solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
}

.modal {
  // This is modal bg
  &:before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  &:target {
    // Active animate in modal
    &:before {
      display: block;
    }
    .modal-dialog {
      top: 20%;
    }
  }
}

.border-radius-50 {
  border-radius: 50%;
}

.over-top-y {
  margin-top: -8rem;
}

.banner {
  padding-top: 35vh;
  height: 100vh !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./../img/banner/banner.jpg);
  background-size: cover;

  h1 {
    font-size: calc(5rem) !important;
  }
  @media screen and (max-width: 767.98px) {
    height: 80vh !important;
    padding-top: 0vh;
    h1 {
      font-size: calc(3rem) !important;
    }
  }
  nav {
    height: 10vh !important;
    h1 {
      font-size: 0.8rem !important;
      padding-top: 0rem !important;
    }
  }
  a.btn {
    padding: 1rem !important;
    border-radius: 0rem !important;
  }
}

footer {
  ion-icon {
    font-size: 1.5rem;
  }
  ul {
    li {
      padding-bottom: 0.5rem;
    }
  }
  input {
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0 !important;
    border: 0 !important;
    outline: none !important;
    &:hover,
    &:active {
      border: 0px solid !important;
      outline: none !important;
    }
  }
}

button,
a.btn {
  padding: 1rem !important;
  border-radius: 0 !important;
  &:hover {
    padding: 1rem !important;
    opacity: 0.7;
  }
}

.border-bottom-1 {
  border-bottom: 2px solid;
}

.height-v90 {
  height: 90vh;
}

.height-v10 {
  height: 10vh;
}

.bold {
  font-weight: bold;
}

.profile {
  width: 100px;
  height: 100px;
}

.user {
  margin: 0 !important;
  padding: 0 !important;
}

