/* ------------------------ flexbox simple container ------------------------ */
.content-wrapper {
    display: flex;
    flex-wrap: wrap ;
    align-items: stretch;
    position: relative;
    
    .item, .row, .col {
        flex-grow:0;
        position: inherit;
    
    }
}

/* ---------------------------- width and height ---------------------------- */

@mixin width($name, $percentil) {
    .width-#{$name} {
        width: $percentil;
        min-width: $percentil ;

    }
    @media screen and (max-width: 767.98px) {
        .sm-width-#{$name} {
            width: $percentil !important;
            min-width: $percentil !important;

        }
    }
}
@include width("5", 5%);
@include width("10", 10%);
@include width("15", 15%);
@include width("20", 20%);
@include width("25", 25%);
@include width("30", 30%);
@include width("35", 35%);
@include width("40", 40%);
@include width("45", 45%);
@include width("50", 50%);
@include width("55", 55%);
@include width("60", 60%);
@include width("65", 65%);
@include width("70", 70%);
@include width("75", 75%);
@include width("80", 80%);
@include width("85", 85%);
@include width("90", 90%);
@include width("95", 95%);
@include width("100", 100%);


@mixin height($name, $percentil) {
    .height-#{$name} {
        height: $percentil;
        min-height: $percentil !important;

    }
    @media screen and (max-width: 767.98px) {
        .sm-height-#{$name} {
            height: $percentil !important;
            min-height: $percentil !important;

        }
    }
}
@include height("5", 5%);
@include height("10", 10%);
@include height("15", 15%);
@include height("20", 20%);
@include height("25", 25%);
@include height("30", 30%);
@include height("35", 35%);
@include height("40", 40%);
@include height("45", 45%);
@include height("50", 50%);
@include height("55", 55%);
@include height("60", 60%);
@include height("65", 65%);
@include height("70", 70%);
@include height("75", 75%);
@include height("80", 80%);
@include height("85", 85%);
@include height("90", 90%);
@include height("95", 95%);
@include height("100", 100%);

/* ----------------------- swap and scroll in mobiles ----------------------- */

.scroll-y {
    @media screen and (max-width: 767.98px) {
        overflow-y: scroll;
        flex-wrap:nowrap !important;
    }
}

.scroll-x {
    @media screen and (max-width: 767.98px) {
        overflow-x: scroll;
        flex-wrap:nowrap !important;
    }
}

@mixin align($item, $value, $param) {
    .#{$item} {
        clear: both;
        display: flex; 
        justify-content: $value;
        text-align: $param;
        vertical-align: middle;
        align-items:  $param;
     }
}

@include align("start", center, start);
@include align("center", center, center);
@include align("end", center, end);
@include align("spaced", space-between, match-parent);
