@mixin position($item) {
    .position-#{$item} {
        position: $item;
    }
    @media screen and (max-width: 767.98px) {
        .sm-position-#{$item} {
            position: $item !important;
        }
    }
}
@include position(relative);
@include position(absolute);


.bottom-0 {
    position:fixed;
    bottom: 0;
    z-index: 2;
}
.top-0 {
    position:fixed;
    top: 0;
    z-index: 2;
}